/* You can add global styles to this file, and also import other style files */
.mt-50{
    margin-top: 50px;
}
.ml-300{
    margin-left: 300px;
}
.ml-300{
    margin-left: 300px;
}
.pt-50{
    padding-top: 150px;
}
.ml-275{
    margin-left: 275px;
}